/* Wildcard selector to overide default styles from browser*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General style rules*/
body{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    /* generic style rules*/
    color:#3a3a3a;
}

/*Header*/
header{
    background-color: coral;
}

/*main*/
main{
    background-color: lightblue;

    /*makes main part of page take up any surplus space */
    flex: 1 0 auto;
}

/*footer*/
footer{
    background-color: orange;
}